
AZURE_TENANT_ID="your_tenant_id"
AZURE_CLIENT_ID="your_client_id"  
AZURE_CLIENT_SECRET="your_client_secret"
AZURE_OPENAI_ENDPOINT="The endpoint it should talk to by default"
AZURE_OPENAI_API_KEY="The API Key it should use"
AZURE_OPENAI_API_VERSION="Inference API version it should use per default"
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="Model deployment name it should use per default"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="Embedding deployment name it should use per default"
LAKEHOUSE="your_lakehouse_name"
SQL_ENDPOINT="your_sql_endpoint"
AZURE_AI_AGENT_ID="your_aifoundry_agent_id"
AZURE_AI_AGENT_ENDPOINT="The AI Foundry Agent Project endpoint it should talk to by default"
AZURE_AI_AGENT_API_VERSION="Azure AI Foundry API Version"